<configuration>
    <springProperty name="appName" source="spring.application.name" defaultValue="UnknownApp"/>
    <springProperty name="logstash" source="app.logstash" defaultValue="logstash"/>
    <!-- Include the default Spring Boot Logback configuration -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="dev,default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- Logstash Appender -->
    <springProfile name="elk">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender"
                  reconnectionDelayMillis="10000">
            <destination>${logstash}:9999</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"appname":"${appName}"}</customFields>
            </encoder>
        </appender>
    </springProfile>
</configuration>