<p-table #dt [columns]="columns" [value]="products" [paginator]="true" id="contentToConvert"
         [rows]="10" [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
    <div class="ui-table-caption-container ui-helper-clearfix">
      <span class="table-caption">{{ title }}</span>
      <div class="ui-table-buttons-container">
      </div>
    </div>
    <div class="flex">
      <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS"
              tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF"
              tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto"
              pTooltip="Selection Only" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-camera" (click)="captureScreen(dt)" class="p-button-info ml-auto"
              pTooltip="Selection Only" tooltipPosition="bottom"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No Data found - please try again.
      </td>
    </tr>
  </ng-template>
</p-table>
