<div class="text-center text-primary mb-4">
  <div class="h2 fw-normal mb-0">{{ 'WELCOME_TO' | translate }}</div>
  <div class="h1 fw-bold text-uppercase">{{ appName }}</div>
  <div class="fw-normal text-black">{{ 'PROJECT_DESC' | translate }}</div>
</div>

<div class="d-flex justify-content-center">
  <div class="wrapper">

    <!-- NOTE Login form -->
    <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()">

      <!-- NOTE Email -->
      <div class="mb-3">
        <label for="email" class="form-label text-start w-100">{{ 'EMAIL' | translate }}</label>
        <input type="email" class="form-control" id="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }">
        <!-- NOTE Errors -->
        <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
          {{ 'FIELD_REQUIRED' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('email')">
          {{ 'FIELD_EMAIL' | translate }}
        </div>
      </div>

      <!-- NOTE Password -->
      <div class="mb-3">
        <label for="password" class="form-label text-start w-100">{{ 'PASSWORD' | translate }}</label>
        <input type="password" class="form-control" id="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid' : formGroup.controls.password.errors && formGroup.controls.password.touched }">
        <!-- NOTE Errors -->
        <div class="invalid-feedback" *ngIf="formGroup.controls.password.hasError('required')">
          {{ 'FIELD_REQUIRED' | translate }}
        </div>
      </div>

      <div class="text-end mb-3">
        <a routerLink="/auth/forgot-password" class="">{{ 'FORGOT_YOUR_PWD' | translate }}</a>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mb-3 px-5" [disabled]="!formGroup.valid">
          <span class="px-4 d-block">{{ 'SIGN_IN' | translate }}</span>
        </button>
      </div>

        <div class="form-group">
            <p class="content-divider center mt-3">
                <span>or</span>
            </p>
            <p class="social-login text-center">
                Sign in with:
                <a href="{{ googleURL }}" class="ml-2">
                    <img alt="Login with Google" src="/assets/img/auth/google.png" class="btn-img">
                </a>
                <a href="{{ facebookURL }}">
                    <img alt="Login with Facebook" src="/assets/img/auth/facebook.png" class="btn-img">
                </a>
                <a href="{{ githubURL }}">
                    <img alt="Login with Github" src="/assets/img/auth/github.png" class="btn-img">
                </a>
                <a href="{{ linkedinURL }}">
                    <img alt="Login with Linkedin" src="/assets/img/auth/linkedin.png" class="btn-img-linkedin">
                </a>
            </p>
        </div>

    </form>
  </div>
</div>
