<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">{{ id ? "Edit Menu" : "Add Menu" }}</h2>
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="label" class="form-label">Label</label>
        <span class="p-input-icon-right w-100">
                <i class="pi pi-tag"></i>
                <input type="text" id="label" formControlName="label" pInputText class="form-control"/>
              </span>
        <small *ngIf="menuForm.get('label')?.invalid && menuForm.get('label')?.touched" class="text-danger">
          Label is required.
        </small>
      </div>

      <div class="mb-3">
        <label for="icon" class="form-label">Icon</label>
        <span class="p-input-icon-right w-100">
                <i class="pi pi-image"></i>
                <input type="text" id="icon" formControlName="icon" pInputText class="form-control"/>
              </span>
        <small *ngIf="menuForm.get('icon')?.invalid && menuForm.get('icon')?.touched" class="text-danger">
          Icon is required.
        </small>
      </div>

      <div class="mb-3">
        <label for="parent" class="form-label">Parent Menu</label>
        <div class="input-group">
          <span class="input-group-text"><i class="pi pi-sitemap"></i></span>
          <p-dropdown id="parent" formControlName="parent" [options]="parentMenus" optionLabel="label"
                      optionValue="id"
                      [showClear]="true" placeholder="Select Parent Menu" class="form-control"></p-dropdown>
        </div>
      </div>

      <div class="d-grid">
        <p-button type="submit" label="Save" [disabled]="menuForm.invalid" styleClass="w-100"></p-button>
      </div>
    </form>
  </div>
</div>