<input id="searchInput" type="text" [(ngModel)]="contactFilter" placeholder="Search..." class="sideBar-search" />

<div class="mt-2 row sideBar-body" *ngFor="let contact of filteredContacts" (click)="setActiveUser(contact)" >
    <div class="col-12 col-md-12">
        <div class="row time-container">
            <div class="col-12 col-md-12 float-right sideBar-time">
                <span class="time-meta float-right">
                    {{"contact.time"}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 sideBar-avatar">
                <div class="avatar-icon">
                    <img [src]="contact.avatar">
                    <span class="status status-{{'contact.status'}}"></span>
                </div>
            </div>
            <div class="col-9 col-md-9 sideBar-main">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 sideBar-name">
                        <span class="name-meta contact-name">
                            {{contact.displayName}}
                        </span>
                        <span class="name-meta-message last-message">
                            {{'contact.messages' || 'No Message'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

